{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<div class="container-fluid">
  <img src="/static/contact.png" alt="" style="width:100%;">
  <div class="centered" id='name1'><i class="bi bi-person"></i>&nbsp:&nbspAkshay V More</div>
  <div class="centered" id='name2'><i class="bi bi-phone"></i>&nbsp:&nbsp860563522 / 7021498187</div>
  <div class="centered" id='name3'><i class="bi bi-building"></i>&nbsp:&nbspOm Datta Heights, Gala No-2,</div>
  <div class="centered" id='name4'>New DP Road, Manjarli, Badlapur(W).</div>
  
</div>
{% endblock body %}


