{% extends 'base.html' %}

{% block title %}Flours{% endblock title %}

{% block body %}
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/static/wheat.jpg" alt="Wheat" style="width:272px;height:272px">
      <h3 style='font-family:arial'>Grinding rate for Wheat</h3>
      <p style='font-family:verdana;font-size:20px'>@ 6Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Readymade @ 40Rs/kg</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/rice.jpg" alt="Rice" style="width:272px;height:272px">
      <h3 style='font-family:arial'>Grinding rate for Rice</h3>
      <p style='font-family:verdana;font-size:20px'>@ 6Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Readymade @ 35Rs/kg</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/jowar.jpg" alt="Jowar" style="width:272px;height:272px">
      <h3 style='font-family:arial'>Grinding rate for Jowar</h3>
      <p style='font-family:verdana;font-size:20px'>@ 6Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Readymade @ 50Rs/kg</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/dal.jpg" alt="Dal" style="width:272px;height:272px">
      <h3 style='font-family:arial'>Grinding rate for Dal</h3>
      <p style='font-family:verdana;font-size:20px'>@ 8Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Readymade @ 90Rs/kg</p>
    </div>
  </div>
   <!-- Second Photo Grid-->
   <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/static/bajri.jfif" alt="Bajri" style="width:272px;height:272px">
      <h3 style='font-family:arial'>Grinding rate for Bajri</h3>
      <p style='font-family:verdana;font-size:20px'>@ 6Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Readymade @ 40Rs/kg</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/chakali.jpeg" alt="Chakali" style="width:272px;height:272px">
      <h3 style='font-family:arial'>Grinding rate for Chakali</h3>
      <p style='font-family:verdana;font-size:20px'>@ 10Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Readymade @ 120Rs/kg</p>
    </div>
  
{% endblock body %}
