{% extends 'base.html' %}

{% block title %}Spices{% endblock title %}

{% block body %}
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/static/sunday.jpg" alt="Sunday Masala" style="width:272px;height:272px">
      <h2 style='font-family:arial'>Sunday Masala</h2>
      <p style='font-family:verdana;font-size:20px'>@ 500Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Special Sunday Masala for making special recipes</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/malvani.jpg" alt="Malvani Masala" style="width:272px;height:272px">
      <h2 style='font-family:arial'>Malvani Masala</h2>
      <p style='font-family:verdana;font-size:20px'>@ 450Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Suites for Malvani Tadka</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/garam.jpg" alt="Garam Masala" style="width:272px;height:272px">
      <h2 style='font-family:arial'>Garam Masala</h2>
      <p style='font-family:verdana;font-size:20px'>@ 400Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Everyday use with beautiful Aroma</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/chicken.jpg" alt="Agri Masala" style="width:272px;height:272px">
      <h2 style='font-family:arial'>Agri Masala</h2>
      <p style='font-family:verdana;font-size:20px'>@ 500Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Add some extra flavour to your meat Curry</p>
    </div>
    <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/static/kash.jpg" alt="Kashmiri Masala" style="width:272px;height:272px">
      <h2 style='font-family:arial'>Kashmiri Masala</h2>
      <p style='font-family:verdana;font-size:20px'>@ 400Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Get a sting to your tongue with Kashmiri Masala</p>
    </div>
    <div class="w3-quarter">
      <img src="/static/haldi.png" alt="Haldi Powder" style="width:272px;height:272px">
      <h2 style='font-family:arial'>Haldi Powder</h2>
      <p style='font-family:verdana;font-size:20px'>@ 300Rs/kg</p>
      <p style='font-family:verdana;font-size:20px'>Intrinsic spice for preparing meals</p>
    </div>
  </div>
  
{% endblock body %}
